* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #9ec5e8;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #c89552;
  color: #000000;
  padding: 10px 20px;
  border: 5px solid black;
  font-weight: 800;
  font-size: 20px;
  border-radius: 10px;
}
